body{
    font-family:'Roboto', sans-serif;
}

#desc{
    background-color:#1CD1B0;
    font-size: 15px;
}


#heroes{
    background-color:#00669F;
    font-size: 40px;
    box-shadow:0px 10px 7px rgba(0, 0, 0, 0.25);
    margin-top: -15px;
    padding: 10px;
    
}

.botones{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    background-color: #00669F;
    color: white;
}

#foo{
    background-color: #00669F;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 15px;
}

.tarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px solid black;
    margin: 50px;
}

.contenedor-tarjetas{
    display: flex;
    justify-content: center;
    

}

article{
    position: relative;
}

.corazon{
    position: absolute;
    top: 20px;
    left: 20px;
}

.heroe{
    position: absolute;
    top: 130px;
    border-radius: 90px;
}

h2 {
    margin-top: 70px;
}

